body {
  padding: 10px;
  text-align: center;
  background-color: #302e2e;
}

.timer {
  width: 300px;
  padding: 10px;
  text-align: center;
}

.btn-group {
  padding: 10px
}

.notes-container {
  text-align: center;
}

li {
  text-align: left;
}
.notes_hidden{
  display: none;
}
.notes_visible{
  display: block;
}

.hidden {
  display: none;
}
.show {
 display: inline;
}