body {
  /*
  width: 300px;
  height: 400px;
  */
  padding: 10px;
  text-align: center;
  background-color: #302e2e;
}

button{
  margin: auto;
}

.timer {
  width: 300px;
  padding: 10px;
  text-align: center;
}

.timer-page {
  text-align: center;
}

.skip-timer {
  text-align: center;
}

.start-timer {
  text-align: center;
}

.btn-group {
  text-align: center;
  padding: 10px
}
.timeVis {
  width: 600px;
  padding:20px
}
.notes-container {
  text-align: center;
}
/*
li {
  text-align: left;
}
*/
.notes_hidden{
  display: none;
}
.notes_visible{
  display: block;
}

.hidden {
  display: none;
}
.show {
 display: inline;
}